<div>
    <div var="wrapper">
        <label var="label"></label>
        <div var="psuedoInput">
            <span var="prefix" class="prefix"></span>
            <span var="stem">
                <elist var="list" on-item-change="_onListChange"></elist>
                <label var="dflt">None</label>
            </span>
            <span var="suffix" class="suffix"></span>
        </div>
    </div>
    <div class="buttons">
        <button var="select_btn" on-press="_onSelectClick">@</button>
        <button var="add_btn" on-press="_onAddClick">+</button>
    </div>
</div>