.NwApp {
	display: block;

	width: 100%;
	height: 100%;

	text-align: left;

	overflow: hidden;
}

	.NwTabbedApp > .nav,
	.NwFlowedApp > .nav {
		position: absolute;

		bottom: 0px;
		left: 0px;

		width: 100%;
	}
	.NwFlowedApp > .nav {
		top: 0px;
		bottom: auto;

		height: 50px;
	}

	.NwTabbedApp > .stack,
	.NwFlowedApp > .stack {
		position: absolute;

		top: 0px;
		left: 0px;
		bottom: 50px;

		width: 100%;

		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.NwFlowedApp > .stack {
		top: 50px;
		bottom: 0px;
	}